.hr.weather-row {
	height: 180px;
	margin: auto 12px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.hr .weather-inner {
	margin-left: -16px;
	margin-right: 12px;
	padding-bottom: 6px;
	overflow-x: scroll;
	white-space: nowrap;
}

.hr .weather-card {
	display: inline-block;
	margin: 10px 4px;
	width: 180px;
}

.hr .weather-card .card {
	width: 180px;
	border-color: #E7F6F2;
	background-color: #E7F6F2;
}

.card-subtitle.code {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	font-size: 14px;
}

.card-text {
	margin: 0px;
}

.card-text.temp {
	line-height: 1em;
	font-size: 30px;
	font-weight: bold;
}