.app-header {
	width: 100vw;
}
.app-title {
	margin-bottom: 0px;
	padding: 10px 2px;

	font-weight: bolder;
	letter-spacing: 10px;
	line-height: 30px;

	color: white;
	background-color: #2C3333;
	cursor: default;
}

.app-location {
	padding: 4px 0px !important;

	color: white;
	background-color: #8dacad;
}

.app-section h3 {
	color: white;
}

.app-forecast {
	margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
	
}